{% extends "gamepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Play Game</h1>

<div class="col-xs-1" align="center">
    <article class="media content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter Game Passcode</legend>
                {{ form|crispy }}
        </fieldset>
        <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Enter</button>
        </div>
    </form>
    </article>
</div>

{% endblock content %}