{% extends "gamepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script>
function myFunction(id) {

  if (id == 1) {
        navigator.clipboard.writeText("https://www.uswrappedup.com/play/{{ object.passcode }}");
  } else {
        navigator.clipboard.writeText("https://www.uswrappedup.com/add/{{ object.passcode }}");
  }

  // Alert the copied text
  alert("Invite link added to clipboard.");
}
</script>

{% if object.owner == user %}
<h1 class="article-title" >{{ object.title }}</h1>
{% endif %}

<article class="media content-section">
    <div class="col-xs-1" align="center">
        <h2>Invite to Play</h2>
        <p id="uswrappedup.com/play/{{ object.passcode }}">https://www.uswrappedup.com/play/{{ object.passcode }}</p>
        <button onclick="myFunction(1)">Copy link</button>
    </div>
</article>

<article class="media content-section">
    <div class="col-xs-1" align="center">
        <h2>Invite to Add a Track</h2>
        <p id="uswrappedup.com/add/{{ object.passcode }}">https://www.uswrappedup.com/add/{{ object.passcode }}</p>
        <button onclick="myFunction(2)">Copy link</button>
    </div>
</article>

{% endblock content %}